<%- include('./partials/head', { title : "Mis películas favoritas" }) %> 
  <body>
    <%- include('./partials/header') %> 
    <main>
      <div id="root-fav">
        <h1 class="main">Listado de Películas Favoritas</h1>
      </div>

    </main>
<%- include('./partials/bodyEnd.ejs') %> 
