<%- include('./partials/head', { title }) %> 
  <body class="home">
    <%- include('./partials/header') %> 
    <main>
      <section class="contenido">
        <h1 class="tituloPrincipal"><%= title %></h1>
        <h2 class="subtitulo">Bienvenido </h2>
        <h2><a id="enlace" href="/movies">Listado de Películas</a></h2>
      </section>
      <div id="root">
        <h1 class="main">Listado de Películas</h1>
        
      </div>
      <br><br>
      <section class="informacion">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla natus ipsum minima ducimus possimus quo, nam debitis odit molestiae unde doloribus temporibus dolorum soluta, fugit quasi nesciunt dolorem rem incidunt.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid mollitia deleniti laboriosam libero necessitatibus autem maiores optio assumenda debitis. Maxime natus quisquam deserunt, magni ab facilis nesciunt quidem tempora et?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae reprehenderit ea asperiores, maxime quasi deserunt et distinctio praesentium ex numquam, odit molestias animi, sunt dicta consequatur. Itaque mollitia labore aliquid.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa facere ipsum quia perferendis unde aliquid obcaecati qui voluptate, in est aut minima quas sunt dolores. Eligendi harum reprehenderit impedit.</p>
      </section>
    </main>
    
<%- include('./partials/bodyEnd.ejs') %> 