<div id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Listado de Películas</a></li>
      <li><a href="/movies/fav">Listado de Favoritos</a></li>
      <li><a href="/movies/add">Agregar una Película</a></li>
    </ul>
  </div>
  <div  style="position: fixed; z-index: 10; width: 100%; background-color: rgba(0, 0, 0, 0.274);">
    <figure class="logoDH">
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>

  </div>